 <div class="card">
 <mat-card class="example-card" *ngFor="let rist of item">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="assets/opentable.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-card-title><h2>{{rist.restaurantName}}</h2> </mat-card-title>
        <div class="recensioniCard">
            <div class="stelleCard">
            </div>
            <div class="numRecensioniCard">
                <h4> <strong>Prezzo:</strong>  {{rist.priceRange}}</h4>
                <p><strong>Adress:</strong>> {{rist.geolocation.address}}</p>
                <p><strong>Tell:</strong> {{rist.phone}}</p>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="buttonCards">
      <button mat-button>Orario: {{rist.open.workHours}}</button>
      <button mat-flat-button color="primary">Prenota</button>
    </mat-card-actions>
  </mat-card> 
</div>

 
  
