.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .buttonCards{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
  }

  .example-card{
    margin: 10px;
    padding: 5px;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: stretch;
  }