.container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: stretch;
}

li {
    list-style-type: none;
}

.buttonRestaurant {
    gap: 5px;
    padding: 2px;
    margin: 4px;
}